@use "../../styles/variables" as styles;

.container {
    max-width: 1000px;
    padding: 16px;
    margin: 32px auto;
}

.headline {
    color: styles.$secondary-color;
    text-align: center;
}

.form {
    flex-direction: column;
}

.input {
    color: styles.$secondary-color;
    background-color: unset;
    border: 1px solid styles.$secondary-color;

    &::placeholder {
        color: styles.$secondary-color;
    }
}

.button {
    background-color: styles.$secondary-color;
    color: styles.$secondary-color-text;

    &:hover {
        background-color: styles.$primary-color;
        color: styles.$primary-color-text;
    }
}