@use "../../styles/variables" as styles;

.container {
  background-color: styles.$primary-color;
  padding: 16px;
  display: flex;
  gap: 16px;
  justify-content: center;
}

.link {
  color: styles.$secondary-color;
}
