@use "../../styles/variables" as styles;

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: styles.$secondary-color;
}

.links {
  display: flex;
  gap: 8px;
}

.link {
  color: styles.$secondary-color-text;
  font-size: 18px;
  padding: 16px 16px;
  margin: auto 0;

  &:hover {
    color: styles.$primary-color-text;
    background-color: styles.$primary-color;
  }
}

.search {}