@use "../../styles/variables" as styles;

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}

.headline {
  color: styles.$secondary-color;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}
